<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block%}
<br><br><br>
<div class="container" align="center">
<div class="card rounded shadow-lg m-10" style="width:60rem;">
<h3>Password reset sent</h3>
<p>We have emailed you instructions for setting your password, if an account existswith the email you entered. You should receive them shortly</p>
<p>If you doný receive an email, please make sure you have entered the address you registered with, and check your spam folder</p>
</div>
{% endblock %}
